<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"> 
</head>

<body>
    
    <a href="/signin"><button type="submit" class="buttons1">Sign in</button></a>
    <a href="/signup"><button type="submit" class="buttons2">Sign up</button></a>
    

    <div class="welcome">
        <img src="{{url_for('static', filename='images/logo.png')}}" class="imgLog" alt="Logo Image">
        <div class="description">
            <div class="catch">Elevate your style with ReStyle!</div>
            <div class="lower">ReStyle is a market place which allows users<br> to connect, buy and sell second hand apparel. </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="miniMarket">
            <img src="{{url_for('static',filename='images/marketplace.png')}}" class="market">
            <div class="marketD">
                Discover diverse marketplace!
            </div>
        </div>

        <div class="miniCustomer">
            <img src="{{url_for('static',filename='images/customer.png')}}" class="customer">
            <div class="customerD">
                Connect with others!
            </div>
        </div>

        <div class="miniDolar">
            <img src="{{url_for('static',filename='images/deals.png')}}" class="dolar">
            <div class="dolarD">
                Make transactions on your terms!
            </div>
        </div>

        <div class="miniEco">
            <img src="{{url_for('static',filename='images/eco-energy.png')}}" class="eco">
            <div class="ecoD">
                Wear second hand apparel!
            </div>
    </div>


    <style>
        @media(max-width:724px){
            .welcome{
                margin-top: 15% !important;
            }
        }
    </style>
</body>

</html>
